@{
    ViewData["Title"] = "Home Page";
}
@model List<ElementFactory.Data.Models.ChemicalElement>

<form>
    <table>
        <tbody>
            @for (int period = 1; period <= 7; period++)
            {
                <tr>
                    @for (int group = 1; group <= 18; group++)
                    {
                        @if (period == 1 && group == 13)
                        {
                            <td id="listItems">
                                <div class="listItems">
                                    <select id="seeItemsList">
                                        <option id="seeAtomicNumber">Изглед по атомен номер</option>
                                        <option id="seeAtomicMass">Изглед по атомна маса</option>
                                        <option id="seePhysicalAppearance">Изглед по физично състояние</option>
                                        <option id="seeAtomicRadius">Изглед по атомен радиус</option>
                                        <option id="seeMeltingPoint">Изглед по температура на топене</option>
                                        <option id="seeBoilingPoint">Изглед по температура на кипене</option>
                                        <option id="seeByYear">Изглед по години (въведи година)</option>
                                    </select>
                                </div>
                            </td>
                        }
                        else if (!(period == 1 &&
                        (group == 13 || group == 14 || group == 15 || group == 16 || group == 17)))
                        {
                            ElementFactory.Data.Models.ChemicalElement?
                            chemicalElement = @Model
                            .FirstOrDefault(x => x.Period == period && x.Group == group);
                            if (chemicalElement == null)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td class="@chemicalElement.ChemicalType.Name">
                                    <a>
                                        <p class="atomicNumber">@chemicalElement.AtomicNumber</p>
                                        <p class="symbol">@chemicalElement.Symbol</p>
                                        <p class="name">@chemicalElement.Name</p>
                                    </a>
                                </td>
                            }
                        }
                    }

                </tr>

            }
            @for (int i = 1; i <= 2; i++)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    @if (i == 1)
                    {
                        @foreach (ElementFactory.Data.Models.ChemicalElement
                       chemicalElement in Model.Where(x => x.Group == 0 && x.Period == 6))
                        {
                            <td class="@chemicalElement.ChemicalType.Name">
                                <a>
                                    <p class="atomicNumber">@chemicalElement.AtomicNumber</p>
                                    <p class="symbol">@chemicalElement.Symbol</p>
                                    <p class="name">@chemicalElement.Name</p>
                                </a>
                            </td>
                        }
                    }
                    else
                    {
                        foreach (ElementFactory.Data.Models.ChemicalElement
                        chemicalElement in Model
                            .Where(x => x.Group == 0 && x.Period == 7))
                        {
                            <td class="@chemicalElement.ChemicalType.Name">
                                <a>
                                    <p class="atomicNumber">@chemicalElement.AtomicNumber</p>
                                    <p class="symbol">@chemicalElement.Symbol</p>
                                    <p class="name">@chemicalElement.Name</p>
                                </a>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</form>

<script src="/js/listItems.js" asp-append-version="true" onload="PageSettings(@Html.Raw(Json.Serialize(Model.Select(x => x.AtomicMass))))"></script>
